<a href="https://colab.research.google.com/github/Leonardo-Gaspar/DataScienceUSPCourse/blob/main/CursoUSPCienciasDeDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercício 1: Desenvolva um programa que selecione um número aleatório entre 0 e 100. O usuário deverá tentar adivinhar esse número. Ao final, o programa exibirá as tentativas do usuário e a quantidade de tentativas feitas.

In [21]:
import random

numeroGerado: int = random.randint(0, 100)

print(numeroGerado)

53

In [25]:
numeroUsuario: int

Palpites = []

while (True):
    numeroUsuario = int(input("Digite um número: ")) # Pegar o numero
    Palpites.append(numeroUsuario) #Adicionar nos palpites

    if (numeroUsuario == numeroGerado): #Verificando se os numeros sao iguais
        print("Você acertou")
        break
    elif (numeroUsuario > numeroGerado):  #Dando dicas para o usuario
        print("Você errou, tente um numero menor")
    elif (numeroUsuario < numeroGerado):
        print("Você errou, tente um numero maior")
    else:
        print("Numero invalido")
        continue

for i in range(0, len(Palpites)):
    print(Palpites[i], end = " ")

print(f"\nVocê tentou {len(Palpites)} vezes")

Digite um número: 25
Você errou, tente um numero maior
Digite um número: 50
Você errou, tente um numero maior
Digite um número: 75
Você errou, tente um numero menor
Digite um número: 53
Você acertou
25 50 75 53
Você tentou 4 vezes

Exercício 2: Você esta organizando uma lista de alunos por turma em uma escola. Cada turma contém vários alunos, e cada aluno é representado por um dicionário com informações sobre seu nome e idade.

a) Criar as turmas: crie duas turmas, cada uma contendo uma lista de dicionários representando os alunos. Cada dicionário deve ter as chaves "nome" e "idade".

b) Adicionar um novo aluno: Adicione um novo aluno em uma das turmas.

c) Remover um aluno: Remova um aluno de uma das turmas.

d)Exibir os alunos de uma turma.

In [15]:
#a)

turmas = {
    "Turma A": [
        {"nome": "João", "idade": 20, "id": 1},
        {"nome": "Maria", "idade": 19, "id": 2},
        {"nome": "Pedro", "idade": 21, "id": 3}
    ],
    "Turma B": [
        {"nome": "Betina", "idade": 18, "id": 4},
        {"nome": "Carlos", "idade": 22, "id": 5},
    ]
}
print(turmas)

{'Turma A': [{'nome': 'João', 'idade': 20, 'id': 1}, {'nome': 'Maria', 'idade': 19, 'id': 2}, {'nome': 'Pedro', 'idade': 21, 'id': 3}], 'Turma B': [{'nome': 'Betina', 'idade': 18, 'id': 4}, {'nome': 'Carlos', 'idade': 22, 'id': 5}]}

In [16]:
#b)
novoAluno = {"nome": "Lucas", "idade": 20, "id": 6}
novoAluno2 = {"nome": "Julia", "idade": 19, "id": 7}

turmas["Turma A"].append(novoAluno)
turmas["Turma B"].append(novoAluno2)

print(turmas)

{'Turma A': [{'nome': 'João', 'idade': 20, 'id': 1}, {'nome': 'Maria', 'idade': 19, 'id': 2}, {'nome': 'Pedro', 'idade': 21, 'id': 3}, {'nome': 'Lucas', 'idade': 20, 'id': 6}], 'Turma B': [{'nome': 'Betina', 'idade': 18, 'id': 4}, {'nome': 'Carlos', 'idade': 22, 'id': 5}, {'nome': 'Julia', 'idade': 19, 'id': 7}]}

In [18]:
#c)
id: int = 3

for turma in turmas.keys():
    for aluno in turmas[turma]:
        if aluno["id"] == id:
            turmas[turma].remove(aluno)
            break

print(turmas)

{'Turma A': [{'nome': 'João', 'idade': 20, 'id': 1}, {'nome': 'Maria', 'idade': 19, 'id': 2}, {'nome': 'Lucas', 'idade': 20, 'id': 6}], 'Turma B': [{'nome': 'Betina', 'idade': 18, 'id': 4}, {'nome': 'Carlos', 'idade': 22, 'id': 5}, {'nome': 'Julia', 'idade': 19, 'id': 7}]}

In [19]:
#d)

for turma in turmas.keys():
    print(f"Alunos da turma {turma}:")
    for aluno in turmas[turma]:
        print(f"- {aluno['nome']} ({aluno['idade']} anos)")

Alunos da turma Turma A:
- João (20 anos)
- Maria (19 anos)
- Lucas (20 anos)
Alunos da turma Turma B:
- Betina (18 anos)
- Carlos (22 anos)
- Julia (19 anos)

Exercício 3: Mário. Você deve recriar a pirâmide do Mário.
O tamanho da pirâmide será decidida pelo usuário.

In [13]:
altura: int

while(True):
  altura = int(input("Digite a altura da pirâmide: "))

  if (altura > 0):
    break

for i in range(1, altura):

  for _ in range(altura - (i)):
    print(" ", end = "")

  for _ in range(i):
    print("#", end = "")

  print()

Digite a altura da pirâmide: 8
       #
      ##
     ###
    ####
   #####
  ######
 #######

Outra forma de executar o Exercício 3

In [14]:
altura: int

while(True):
  altura = int(input("Digite a altura da pirâmide: "))

  if (altura > 0):
    break

for i in range(1, altura):
  print(" " * (altura - i) + "#" * i)

Digite a altura da pirâmide: 8
       #
      ##
     ###
    ####
   #####
  ######
 #######